.dashboard{
      padding-bottom: 60px;
}

.dashboard-container {
    background-image: url("../images/Dashboard-background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 435px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 0;

     @media screen and (min-width: 768px) {
       background-image: url("../images/Dashboard-background.png");
    }
}

.dashboard-box {
    display: flex;
    justify-content: center;
    gap: 20px;

     @media screen and (min-width: 768px) {
        margin-right: 150px;
      gap: 48px;
    }
}

.dashboard-title {
    font-family: Montserrat;
    font-weight: 600;
    color: #fff;
    font-size: 14px;

     @media screen and (min-width: 768px) {
      font-size: 20px;
    }

         @media screen and (min-width: 768px) {
      font-size: 40px;
    }
}

.dashboard-text {
    display: none;
      @media screen and (min-width: 768px) {
        display: block;
    width: 172px;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    }
   
          @media screen and (min-width: 1200px) {
    font-size: 24px;
    width: 323px;
    }
}

.dashboard-mobile-box{
    display: flex;
    flex-direction: column;
gap: 20px;
}

.dashboard-text-mobile{
        width: 136px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    color: #fff;

     @media screen and (min-width: 768px) {
    display: none;
    }
}

.dashboard-date {
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 10px;

         @media screen and (min-width: 768px) {
      font-size: 14px;
    }

         @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
}

.dashboard-line {
    width: 3px;
    height: 80px;
    background-color: #ffffff;

    @media screen and (min-width: 768px) {
    height: 110px;
    }

        @media screen and (min-width: 1200px) {
     height: 144px;
    }
}

.dashboard-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    @media screen and (min-width: 768px) {
     gap: 2px;
    }
        @media screen and (min-width: 1200px) {
     gap: 1px;
    }
}

.dashboard-input {
    width: 150px;
    height: 33px;
    border-radius: 8px 0 0 8px;
    border: none;
    padding-left: 20px;

    @media screen and (min-width: 768px) {
    width: 371px;
    }

        @media screen and (min-width: 1200px) {
    width: 411px;
    }
}

.dashboard-input-button {
    height: 36px;
    border-radius: 0 8px 8px 0;
    background-color: #FFB36C;
    border: none;
    width: 35px;
}

.icon-search {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke: black;
    fill: none;
    width: 25px;
    height: 25px;
}