.header {
    background-color: #fff;
    height: 80px;
}


.header-container {
    height: 80px;
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-item {
    font-family: Montserrat Alternates;
    font-weight: 400;
}

.header-box {
    display: flex;
}

.header-boxes {
    height: 80px;
    align-items: center;
    display: flex;
    gap: 100px;
}

.header-boxing {
    display: flex;
    height: 80px;
    gap: 500px;
    align-items: center;
}

.header-user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.header-button {
    background-color: #FFB36C;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    color: #000;
}

.header-user-menu-button {
    border: none;
    background-color: #fff;

}

.header-user-menu {
    width: 50px;
    height: 50px;
}