.header {
    background-color: #fff;
}


.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1200px) {
        height: 80px;
    }
}

.header-logo {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        width: 54px;
        height: 34px;
    }

    @media screen and (min-width: 1200px) {
        width: 82px;
        height: 56px;
    }
}

.header-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 40px;
    }
}

.header-list-item {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 10px;


    @media screen and (min-width: 1200px) {
        font-size: 12px;
    }
}

.header-box {

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.header-boxes {
    height: 70px;
    display: none;
    width: 100%;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 57px;
    }

    @media screen and (min-width: 1200px) {
        height: 80px;
        gap: 100px;
    }
}

.header-boxing {
    display: flex;
    height: 70px;
    align-items: center;


    @media screen and (min-width: 768px) {
        height: 80px;
        gap: 152px;
    }

    @media screen and (min-width: 1200px) {
        gap: 500px;
    }
}

.header-user-box {}

.header-button {
    background-color: #FFB36C;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    color: #000;
    font-size: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;

    @media screen and (min-width: 1200px) {
        padding: 10px 20px;
    }
}

.header-button:hover {
  background-color: #f6c189;
  transform: scale(1.10);
}

.header-user-menu-button {
    border: none;
    background-color: #fff;

}

.header-logo-menu {
    width: 34px;
    height: 22px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-user-menu {
    width: 50px;
    height: 50px;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 50px;
        height: 50px;
    }
}

.header-invisible-box {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }
}

.header-menu {
    display: block;
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 10px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-menu-open {
    display: block;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-mobile-box {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: 768px) {
        display: none;
        padding: 0;
    }
}

.header-mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 28px;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-mobile-menu {
    position: absolute;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background: #E6E6E6;
    display: flex;
    justify-content: space-around;
    height: 163px;
    z-index: 1000;
    width: 100vw;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-mobile-menu.is-open {
    max-height: 200px;
}

.header-menu-btn {
    display: block;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-user-mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.header-user-menu-mobile {
    width: 50px;
    height: 50px;
}

.header-user-menu-button {
    background-color: transparent;
}

.header-menu-open{

}