.hourlyForecast{
    margin-top: 80px;
background-color: #E8E8E8;
width: 293px;
border-radius: 20px;
padding:  20px 10px 20px 5px;
display: flex;
justify-content: center;
align-items: center;
@media screen and (min-width: 768px) {
     width: 634px;
     height: 400px;
     padding:  40px 20px 40px 10px;
    }

    @media screen and (min-width: 1200px) {
     width: 1140px;
     height: 354px;
     padding: 30px 0 40px 0;
    }
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharts-wrapper {
  outline: none;
}

.recharts-surface {
  outline: none;
  display: flex !important;
  justify-content: center !important;
}
.recharts-tooltip-wrapper {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 8px;
}