.nature {
  position: relative;
  width: 100%;
  padding: 40px 0;
display: none;
   @media screen and (min-width: 1200px) {
      display: block;
    }
}

.nature-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}

.nature-slider {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nature-images {
  position: absolute;
  border-radius: 15px;
  object-fit: cover;
  transition: all 0.5s ease;
}


.nature-active {
  width: 400px;
  height: 250px;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%) scale(1);
  filter: brightness(100%);
}


.nature-prev1 {
  width: 250px;
  height: 180px;
  z-index: 20;
  left: 30%;
  transform: translateX(-50%) scale(0.85);
  filter: brightness(80%);
}
.nature-next1 {
  width: 250px;
  height: 180px;
  z-index: 20;
  left: 70%;
  transform: translateX(-50%) scale(0.85);
  filter: brightness(80%);
}


.nature-prev2 {
  width: 200px;
  height: 150px;
  z-index: 10;
  left: 15%;
  transform: translateX(-50%) scale(0.7);
  filter: brightness(60%);
}
.nature-next2 {
  width: 200px;
  height: 150px;
  z-index: 10;
  left: 85%;
  transform: translateX(-50%) scale(0.7);
  filter: brightness(60%);
}


.nature-hidden {
  display: none;
}


.nature-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  border: none;
  font-size: 30px;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 50;
  border-radius: 10px;
}

.nature-slider-button.nature-prev {
  left: 10px;
}

.nature-slider-button.nature-next {
  right: 10px;
}

.nature-slider-button:hover {
  background-color: rgba(0,0,0,0.6);
}