.weather {
  padding-bottom: 70px;
  font-family: Montserrat;
}

.weather-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

       @media screen and (min-width: 1200px) {
       flex-wrap: nowrap;
    }
   
}

.weather-list-item {
    border-radius: 20px;
    background-color: #E8E8E8;
    padding: 20px;
    width: 262px;
    display: flex;
    flex-direction: column;
    gap: 20px;

       @media screen and (min-width: 1200px) {
      width: 320px;
    }
}


.weather-box {
    display: flex;
    justify-content: space-between;
}

.weather-city {
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  
   @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}

.weather-country {
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;

     @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}


.weather-time {
    font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;

     @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
}

.weather-line{
    width: 1px;
    height: 17px;
    background-color: #000000;
}


.weather-button {
    width: 125px;
   background-color: #FFB36C;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 400;
    color: #000;
    font-size: 9px;
    transition: background-color 0.3s ease, transform 0.3s ease;
       @media screen and (min-width: 1200px) {
      font-size: 10px;
    }
}

.weather-button:hover {
  background-color: #f6c189;
  transform: scale(1.10);
}

.weather-data{
        font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;

     @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}

.weather-day{
        font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;

     @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}

.weather-image{
    width: 83px;
    height: 83px;

       @media screen and (min-width: 768px) {
      width: 76px;
      height: 76px;
    }

       @media screen and (min-width: 1200px) {
      width: 120px;
      height: 120px;
    }
}

.weather-date-box{
display: flex;
justify-content: center;
gap: 12px;
}


.weather-temperature {
    font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;

     @media screen and (min-width: 1200px) {
      font-size: 32px;
    }
}


.weather-icon {
  background-color: #E8E8E8;
  border: none;

}

.weather-icon-box{
    display: flex;
    gap: 16px;
}

.weather-icon-div{
    display: flex;
    gap: 26px;
}



.weather-buttons {
   background-color: #FFB36C;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    color: #000;
    width: 84px;
    font-size: 9px;
    transition: background-color 0.3s ease, transform 0.3s ease;
       @media screen and (min-width: 1200px) {
      width: 100px;
      font-size: 10px;
    }
}

.weather-buttons:hover {
  background-color: #f6c189;
  transform: scale(1.10);
}

.weather-div{
display: flex;

}

.icon-heart{
  display: inline-block;
  stroke-width: 2;
  stroke: none;
  fill: red;
  width: 24px;
  height: 24px;

     @media screen and (min-width: 1200px) {
      width: 32px;
      height: 32px;
    }
}

.icon-spinner{
  width: 24px;
  height: 24px;

     @media screen and (min-width: 1200px) {
      width: 32px;
      height: 32px;
    }
}

.icon-trash{
  width: 24px;
  height: 24px;
     @media screen and (min-width: 1200px) {
      width: 32px;
      height: 32px;
    }
}